/* Resource - Author: Justin Kim, site: youtube.com, date posted: April 4, 2020, title: "Let's Build Connect Four using JavaScript! - Tutorial" */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    align-items: center;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 25px;
    width: 100%;
  }
  
  h1 {
    text-transform: uppercase;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 700px;
    margin: 10px 0 25px;
    width: 700px;
  }
  
  .cell {
    align-items: center;
    background: yellow;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
  }
  
  .cell::after {
    background: whitesmoke;
    border-radius: 50%;
    border: 3px solid black;
    content: '';
    cursor: pointer;
    height: 75px;
    width: 75px;
  }

/* use of after to switch to different cell colors */
  .cell:not(.row-top).red::after {
    background: red;
  }
  .cell:not(.row-top).black::after {
    background: black;
  }
  /* use of not to show the winning cell(s) */
  .cell:not(.row-top).red.win {
    background: red;
  }
  
  .cell:not(.row-top).black.win {
    background: gray;
  }
  
  .cell.row-top {
    background: whitesmoke;
  }
  
  .cell.row-top::after {
    border: none;
  }
  
  .cell.row-top.red::after {
    background: red;
    border: 3px solid black;
  }
  
  .cell.row-top.black::after {
    background: black;
    border: 3px solid black;
  }
  
  .footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 700px;
  }
  
  .reset {
    background-color: #4370F1;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase;
  }
  
  .reset:hover {
    background-color: #1D50F1;
  }
  
  .reset:active {
    background-color: #4d7ef1;
  
  }
  
  .status {
    display: block;
    font-size: 20px;
  }
  
  /* Util CSS */
  .left-border {
    border-left: 3px solid black;
  }
  
  .top-border {
    border-top: 3px solid black;
  }
  
  .right-border {
    border-right: 3px solid black;
  }
  
  .bottom-border {
    border-bottom: 3px solid black;
  }
  
  .left-border.top-border {
    border-radius: 10px 0 0 0;
  }
  
  .right-border.top-border {
    border-radius: 0 10px 0 0;
  }
  
  .right-border.bottom-border {
    border-radius: 0 0 10px 0;
  }
  
  .left-border.bottom-border {
    border-radius: 0 0 0 10px;
  }